[submodule "extlib/tudocomp2"]
	path = extlib/tudocomp2
	url = git@github.com:tudocomp/tudocomp2.git
[submodule "extlib/unordered_dense"]
	path = extlib/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "extlib/word-packing"]
	path = extlib/word-packing
	url = https://github.com/pdinklag/word-packing
[submodule "extlib/ryg_rans"]
	path = extlib/ryg_rans
	url = https://github.com/rygorous/ryg_rans
